.coverage
htmlcov
*.pyc
*.swp
*~
.DS_store
.cache
# server files
*.pid
client_secret
# test files
demo-static/biggie
demo-static/mandlebrot_100k.html
demo-static/mandlebrot_100k
# setup stuff
build
dist
MANIFEST
iiif.egg-info
client_secret.json
.eggs
