language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
# need "python setup.py install" to install resync so that client tests work
install:
  - pip install --allow-external pil
  - python setup.py install
# command to run tests
script: py.test
